.main {

}

.logo {
	display: block;
	position: relative;
	max-width: 320px;
	margin: auto;
	padding-bottom: 20px;

	a{
		width: 100%;
		height: 100%;
		display: block;
		margin: auto;
	}
	
	img {
		display: block;
		max-width: 100%;
		max-height: 200px;
		margin: auto;
		position: relative;
	}
	.mug-1{
		position: absolute;
		left: 0px;
		@include vendor(transform,scaleX(-1) rotate(-20deg));
	}
	.mug-2{
		right: -80px;
		@include vendor(transform,rotate(-20deg));
	}
}


.app-title {
	font-size: 60px;
  max-width: 320px;
	padding: 10px 0 0 0;
  margin: 20px auto 0 auto;
	border-radius: 15px;
	position: relative;
	z-index: 100;
  text-align: center;
  font-family:'collegiate';
  color: white;
  line-height: 50px;
  background: gray;
}