.screen {

  // Default
  display: none;
  height: 100%;
  width: 100%;

  &.splash {
    background: rgba(238, 114, 0, 1.0);
  }

  &.home {
    background: $baseColor;
  }

  &.dashboard {

    .dashboard-body, .view{
      height: 100% - 8.5%;
    }

    .view {
      position: relative;

      &.beers-tracker{
        height: 100%;

        .view-title {
          font-size: 16px;
          background: yellow;
          margin: 0;
          padding: 0;
        }

        ul, li {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        li{
          border-bottom: 2px solid brown;
          padding: 5px;
          
          &:last-child {
            border-bottom: none;
          }
        }

        img, .beers-owed {
          display: inline-block;
          vertical-align: middle;
        }
        
        img {
          width: 40px;
          height: 40px;
          margin-right: 20px;
        }

        .beers-you-owe,
        .beers-you-are-owed {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          height: 100%;
          position: relative;
        }

        .beer-action {
          width: 100%;
          color: white;
          background: $baseColor;
          border: 0;
          font-size: 20px;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 25px 0;
        }

        .beers-you-owe .beer-action {
          border-right: 1px solid white;
        }

      }

      &.give-request {
        display: none;
      }

      &.social-share {
        display: none;
      }

    .view-title {
      text-align: center;
    }

    }
    
  }

  &.-active-screen {
    display: block;
    @extend .fadeInLeft;
    @include vendor(animation, .5s linear);
  }
}