.screen {

  // Default
  display: none;
  height: 100%;
  width: 100%;

  &.splash {
    background: rgba(238, 114, 0, 1.0);
  }

  &.-active-screen {
    display: block;
    @extend .wobble;
    @include vendor(animation, 1s linear);
  }

}