@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

#login-buttons {
    margin: auto; 
    width: 240px;
    padding: 20px 0;
    position: relative;
    background: white;
    border-radius: 20px;
    position: relative;
}

.button {
    position: relative;
    display: block;
    height: 40px;
    margin: 0 auto 20px auto;
    overflow: hidden;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }
}

.icon {
    display: block;
    float: left;
    z-index: 3;
    height: 100%;
    vertical-align: top;
    width: 38px;
    text-align: center;

    &::after {
        position: absolute;
        content: '';
        display: block;
        height: 70%;
        width: 1px;
        background: hsl(0, 100%, 100%);
        z-index: 5;
        top: 15%;
        left: 18%;
    }
}

.icon i {
    color: #fff;
    line-height: 42px;
}

.slide {
    z-index: 2;
    display: block;
    margin: 0;
    height: 100%;
    left: 38px;
    width: 100%;
}

.slide p {
    font-family: Open Sans;
    font-weight: 400;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255,255,255,0.35);
    color: #fff;
    font-size: 16px;
    left: 0;
    margin: 0;
    position: absolute;
    text-indent: 50px;
    top: 7px;
    width: 100%;
}

.button .slide {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.facebook .icon, .facebook .slide {
    background: #305c99;
}

.twitter .icon, .twitter .slide {
    background: #00cdff;
}

.google .icon, .google .slide {
    background: #d24228;
}

.facebook .icon,
.twitter .icon,
.google .icon {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 
}

.facebook .slide,
.twitter .slide,
.google .slide {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 
}