// bounceInUp Animation
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

.bounceInUp {
  -webkit-animation: bounceInUp .8s;
  -moz-animation: bounceInUp .8s;
  -o-animation: bounceInUp .8s;
  animation: bounceInUp .8s;
}