@font-face {
  font-family:'collegiate';
  src:url('../fonts/collegiateheavyoutline_medium-webfont.eot');
  src:url('../fonts/collegiateheavyoutline_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/collegiateheavyoutline_medium-webfont.woff') format('woff'),
    url('../fonts/collegiateheavyoutline_medium-webfont.ttf') format('truetype'),
    url('../fonts/collegiateheavyoutline_medium-webfont.svg#collegiateheavyoutline_medium-webfont') format('svg');
    font-weight:normal;
    font-style:normal;
}
