include mixins

!!! 5
html.no-js
  head
    meta(charset='utf-8')
    title FireShell by @toddmotto
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='//www.google-analytics.com', rel='dns-prefetch')
    link(href='//ajax.googleapis.com', rel='dns-prefetch')
    link(href='assets/css/style.min.css', rel='stylesheet')
    link(href='bower_components/animate.css/animate.css', rel='stylesheet')
    script(src='assets/js/vendor/modernizr-2.6.2.min.js')
  body
    main.main(role='main')
      .screen.splash
        p.app-title BEER ME BRO
      .screen.home
        canvas#burst
        .logo
          a(href='/')
            img(class="mug mug-1", src='assets/img/beer_mug.png', alt='Logo')
            img(class="mug mug-2", src='assets/img/beer_mug.png', alt='Logo')
        +login-buttons()
      .screen.dashboard
        +header()
        +sidebar()
        .dashboard-body
          .view.beers-tracker
            .beers-you-owe
              h2.view-title Beers You Owe
              ul
                li
                  img(src="assets/img/pictureOfFriend.png")
                  .beers-owed 4
                li
                  img(src="assets/img/pictureOfFriend.png")
                  .beers-owed 3
                li
                  img(src="assets/img/pictureOfFriend.png")
                  .beers-owed 2
                li
                  img(src="assets/img/pictureOfFriend.png")
                  .beers-owed 1
              button.beer-action Beer Your Bro
            .beers-you-are-owed
              h2.view-title Beers You're Owed
              ul
                li
                  img(src="assets/img/pictureOfFriend.png")
                  .beers-owed 2
                li
                  img(src="assets/img/pictureOfFriend.png")
                  .beers-owed 1
                li
                  img(src="assets/img/pictureOfFriend.png")
                  .beers-owed 1
              button.beer-action Beer Me Bro
          .view.give-request
            h1.view-title Give / Request
            form.give-request-form(name="give-request-form")
              .friend-select
                select
                  option(value="Friend1") Friend 1
                  option(value="Friend2") Friend 2
                  option(value="Friend3") Friend 3
                  option(value="Friend4") Friend 4
              .beer-count
                input(type='number', name='user', placeholder="2")
                label Beers
              .reason
                label For 
                  span (optional): 
                select
                  option(value="Birthday") Birthday
                  option(value="Being a Dickhead") Being a Dickhead
                  option(value="Feeling Generous") Feeling Generous
              .kind
                label Kind 
                  span (optional): 
                select
                  option(value="Lager") Lager
                  option(value="IPA") IPA
                  option(value="Stout") Stout
              input.beer-bro-submit(type='submit', value='Beer Bro')
          .view.social-share
            img(src="assets/img/success.png")
            button.share Share Bromance
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\\/script>');
    script(src='assets/js/scripts.min.js')
    script.
      (function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
      (f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
      l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXXXXX-XX');
      ga('send', 'pageview');